{
  "openapi": "3.1.0",
  "info": {
    "title": "agent.pw API",
    "description": "API for managing services, credentials, tokens, and proxying authenticated requests.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://agent.pw"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Biscuit bearer token"
      }
    },
    "schemas": {
      "ApiKeyScheme": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "apiKey"
          },
          "in": {
            "default": "header",
            "type": "string",
            "enum": [
              "header",
              "query",
              "cookie"
            ]
          },
          "name": {
            "default": "Authorization",
            "type": "string"
          }
        },
        "required": [
          "type",
          "in",
          "name"
        ],
        "additionalProperties": false,
        "id": "ApiKeyScheme"
      },
      "HttpScheme": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "http"
          },
          "scheme": {
            "type": "string",
            "enum": [
              "bearer",
              "basic"
            ]
          }
        },
        "required": [
          "type",
          "scheme"
        ],
        "additionalProperties": false,
        "id": "HttpScheme"
      },
      "OAuth2Scheme": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "oauth2"
          },
          "authorizeUrl": {
            "type": "string"
          },
          "tokenUrl": {
            "type": "string"
          },
          "scopes": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "authorizeUrl",
          "tokenUrl"
        ],
        "additionalProperties": false,
        "id": "OAuth2Scheme"
      },
      "AuthScheme": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ApiKeyScheme"
          },
          {
            "$ref": "#/components/schemas/HttpScheme"
          },
          {
            "$ref": "#/components/schemas/OAuth2Scheme"
          }
        ]
      },
      "Service": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "description": "Unique service identifier",
            "example": "linear"
          },
          "allowedHosts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Hostnames the proxy may forward to",
            "example": [
              "api.linear.app"
            ]
          },
          "displayName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Human-readable display name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Service description"
          },
          "docsUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Link to API documentation"
          }
        },
        "required": [
          "slug",
          "allowedHosts",
          "displayName",
          "description",
          "docsUrl"
        ],
        "additionalProperties": false
      },
      "ServiceDetail": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "description": "Unique service identifier",
            "example": "linear"
          },
          "allowedHosts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Hostnames the proxy may forward to",
            "example": [
              "api.linear.app"
            ]
          },
          "displayName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Human-readable display name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Service description"
          },
          "docsUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Link to API documentation"
          },
          "authSchemes": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AuthScheme"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Supported authentication schemes"
          }
        },
        "required": [
          "slug",
          "allowedHosts",
          "displayName",
          "description",
          "docsUrl",
          "authSchemes"
        ],
        "additionalProperties": false
      },
      "CreateServiceRequest": {
        "type": "object",
        "properties": {
          "allowedHosts": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Hostnames the proxy may forward to"
          },
          "authSchemes": {
            "description": "Supported authentication schemes",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthScheme"
            }
          },
          "displayName": {
            "description": "Human-readable display name",
            "type": "string"
          },
          "description": {
            "description": "Service description",
            "type": "string"
          },
          "oauthClientId": {
            "description": "OAuth2 client ID",
            "type": "string"
          },
          "oauthClientSecret": {
            "description": "OAuth2 client secret (stored encrypted)",
            "type": "string"
          },
          "docsUrl": {
            "description": "Link to API documentation",
            "type": "string"
          },
          "authConfig": {
            "description": "Additional auth configuration",
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "allowedHosts"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Service not found"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": false
      },
      "OkWithSlug": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "slug": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "slug"
        ],
        "additionalProperties": false
      },
      "Credential": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "description": "Service slug",
            "example": "linear"
          },
          "label": {
            "type": "string",
            "description": "Credential label",
            "example": "default"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          }
        },
        "required": [
          "slug",
          "label",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "CreateCredentialRequest": {
        "type": "object",
        "properties": {
          "token": {
            "description": "API token or secret",
            "type": "string"
          },
          "headers": {
            "description": "Explicit header map to send on proxied requests",
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "label": {
            "description": "Credential label (defaults to \"default\")",
            "example": "default",
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RevokeTokenRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "description": "Reason for revoking the token",
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "RevokeTokenResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "revokedIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of revoked token block IDs"
          }
        },
        "required": [
          "ok",
          "revokedIds"
        ],
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Health check"
    },
    {
      "name": "services",
      "description": "Service registration and management"
    },
    {
      "name": "credentials",
      "description": "Credential storage and retrieval"
    },
    {
      "name": "tokens",
      "description": "Token management"
    },
    {
      "name": "proxy",
      "description": "Authenticated proxy"
    },
    {
      "name": "auth",
      "description": "Authentication endpoints"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getIndex",
        "tags": [
          "health"
        ],
        "summary": "Health check",
        "description": "Returns a list of configured services with credential counts.",
        "responses": {
          "200": {
            "description": "Service health",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "services": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "credentialCount": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "slug",
                          "credentialCount"
                        ]
                      }
                    }
                  },
                  "required": [
                    "services"
                  ],
                  "id": "HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/credentials": {
      "get": {
        "operationId": "getCredentials",
        "tags": [
          "credentials"
        ],
        "summary": "List credentials",
        "description": "List all credentials for the authenticated user.",
        "responses": {
          "200": {
            "description": "List of credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Credential"
                  },
                  "$defs": {
                    "Credential": {
                      "$ref": "#/components/schemas/Credential"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credentials/{slug}": {
      "put": {
        "operationId": "putCredentialsBySlug",
        "tags": [
          "credentials"
        ],
        "summary": "Store credential",
        "description": "Create or update a credential for a service. Provide either a token or explicit headers.",
        "responses": {
          "200": {
            "description": "Credential stored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "user": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "user",
                    "slug"
                  ],
                  "id": "CredentialStored"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "id": "CredentialError"
                }
              }
            }
          },
          "404": {
            "description": "Service not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCredentialRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "deleteCredentialsBySlug",
        "tags": [
          "credentials"
        ],
        "summary": "Delete credential",
        "description": "Delete a credential by service slug and optional label.",
        "responses": {
          "200": {
            "description": "Credential deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Credential not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ]
      }
    },
    "/services": {
      "get": {
        "operationId": "getServices",
        "tags": [
          "services"
        ],
        "summary": "List services",
        "description": "List all configured services with their allowed hosts.",
        "responses": {
          "200": {
            "description": "List of services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Service"
                  },
                  "$defs": {
                    "Service": {
                      "$ref": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/services/{slug}": {
      "get": {
        "operationId": "getServicesBySlug",
        "tags": [
          "services"
        ],
        "summary": "Get service",
        "description": "Get a service by slug, including its auth schemes.",
        "responses": {
          "200": {
            "description": "Service details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDetail"
                }
              }
            }
          },
          "404": {
            "description": "Service not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "putServicesBySlug",
        "tags": [
          "services"
        ],
        "summary": "Create or update service",
        "description": "Register a new service or update an existing one by slug.",
        "responses": {
          "200": {
            "description": "Service created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkWithSlug"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "deleteServicesBySlug",
        "tags": [
          "services"
        ],
        "summary": "Delete service",
        "description": "Remove a service by slug.",
        "responses": {
          "200": {
            "description": "Service deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "description": "Service not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ]
      }
    },
    "/tokens/revoke": {
      "post": {
        "operationId": "postTokensRevoke",
        "tags": [
          "tokens"
        ],
        "summary": "Revoke token",
        "description": "Revoke the current bearer token, preventing further use.",
        "responses": {
          "200": {
            "description": "Token revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Revocation failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "id": "TokenError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          }
        }
      }
    }
  }
}